<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/style :: headTags}"></div>
    <title>New ingredient</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <div th:replace="~{fragments/header :: header('Add a new ingredient')}"></div>
    
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main class="container flex-grow-1">
        <div class="row">
            <div class="col-8">
                <form id="ingredients-form" th:action="${edit} ? @{/ingredients/edit/{id}(id=${ingredient.id})} : @{/ingredients/create}" method="post" th:object="${ingredient}">

                    <!-- titolo -->
                    <div class="mb-3">
                        <label for="name" class="form-label">
                            Name:
                        </label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" th:errorClass="is-invalid">

                        <!-- segnalazione errore -->
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                            <ul>
                                <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                            </ul>
                        </div>
                    </div>

                    <!-- bottoni di invio o reset -->
                    <div class="mb-3 d-flex justify-content-between">
                        <input type="submit" class="btn back-basil cheese" value="Save">
                        <input type="reset" class="btn btn-warning" value="Reset form">
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <div th:replace="~{fragments/footer :: footer}"></div>

    <div th:replace="~{fragments/style :: scripts}"></div>
</body>

</html>