<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/style :: headTags}"></div>
    <title>Pizzas</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <div th:replace="~{fragments/header :: header('Here are our pizzas:')}"></div>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main class="flex-grow-1">
        <div class="row justify-content-center mx-0">
            <div class="d-flex py-4 justify-content-evenly">

                <!-- sezione ricerca per nome -->
                <div class="d-flex flex-column mb-3">
                    <form th:action="@{/pizzas/search-by-name}" class="d-flex" method="get">
                        <input type="text" class="form-control mx-3" id="name-search" name="name"
                            placeholder="Search by name...">
                        <input type="submit" class="btn btn-secondary" value="Search">
                    </form>

                    <!-- messaggio se non ci sono pizze trovate -->
                    <div class="d-flex my-5 justify-content-center align-content-center">
                        <h1 th:if="${pizzas.isEmpty()}">
                            Sorry! No pizzas found
                        </h1>
                    </div>
                </div>

                <!-- bottone verso create -->
                <div class="mb-3">
                    <a th:href="@{/pizzas/create}" class="btn back-basil cheese">
                        Add a pizza
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 m-2" th:each="pizza : ${pizzas}" th:object="${pizza}"
                th:if="${pizzas.size() > 0}">
                <div class="card align-items-center px-4 back-cheese">
                    <a class="card-title fw-bold fs-3 text-decoration-none" th:href="|/pizzas/*{id}|">
                        [[*{name}]]
                    </a>
                    <img class="img-fluid" th:src="*{url}" th:alt="*{name}">
                    <p class="card-text mt-3">
                        [[*{price}]]€
                    </p>

                    <!-- bottoni edit e delete -->
                    <div class="d-flex pb-3 w-100 justify-content-evenly">
                        <a th:href="@{/pizzas/edit/{id}(id=${pizza.id})}" class="btn btn-light">
                            Edit
                        </a>

                        <a th:href="@{/pizzas/{id}/sale(id=${pizza.id})}" class="btn back-basil cheese">
                            On sale
                        </a>

                        <!-- bottone con modale -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            th:data-bs-target="'#delete-modal-' + ${pizza.id}">
                            Delete
                        </button>

                        <!-- modale di bootstrap -->
                        <div class="modal fade" th:id="delete-modal- + ${pizza.id}" tabindex="-1"
                            aria-labelledby="delete-modal-" aria-hidden="true">
                            <div class="modal-dialog modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                            Delete "[[${pizza.name}]]"
                                        </h1>
                                    </div>
                                    <div class="modal-body">
                                        This pizza will be permanently deleted. Are you sure you want to proceed?
                                    </div>
                                    <div class="modal-footer">

                                        <!-- vero bottone di cancellazione -->
                                        <form class="d-inline-block" th:action="@{/pizzas/delete/{id}(id=${pizza.id})}"
                                            method="post">
                                            <button type="submit" class="btn btn-danger">
                                                Delete
                                            </button>
                                        </form>

                                        <!-- bottone che fa uscire dalla modale -->
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <span aria-hidden="true">
                                                Close
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- testo in caso il db sia vuoto -->
                    <p th:text="Sorry! There are no pizzas available at the moment." th:unless="${pizzas.size() > 0}">
                    </p>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <div th:replace="~{fragments/style :: scripts}"></div>
</body>

</html>